<!-- <div class="container">
    <div class="row">
      <div class="col-md-12">
<h1> EXAM RESULT MANAGEMENT</h1>
      </div>
    </div>
      <div class="row">
        <div class="col-md-8">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
              </mat-form-field>
          </div>

        <div class="col-md-4">
            <button mat-button  (click)="onAdd()" type="button" class="btn btn-primary btn-lg" >
                <mat-icon >add</mat-icon>
                ADD NEW EXAM RESULT
                </button>
              </div>
            </div>

<table mat-table [dataSource]="dataSource"  class="mat-elevation-z8" matSort>


    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef> select </th>
        <td mat-cell *matCellDef="let element">  <mat-checkbox color="primary" (change)="onCheckChange(element)"></mat-checkbox> </td>
      </ng-container>

      <ng-container matColumnDef="student_name">
        <th mat-header-cell *matHeaderCellDef> STUDENT NAME </th>
        <td mat-cell *matCellDef="let element"> {{element.student_name}} </td>
      </ng-container>

      <ng-container matColumnDef="batch_name">
        <th mat-header-cell *matHeaderCellDef> BATCH NAME </th>
        <td mat-cell *matCellDef="let element"> {{element.batch_name}} </td>
      </ng-container>

      <ng-container matColumnDef="standard_no">
        <th mat-header-cell *matHeaderCellDef> STANDARD </th>
        <td mat-cell *matCellDef="let element"> {{element.standard_no}} </td>
      </ng-container>


      <ng-container matColumnDef="subject_name">
        <th mat-header-cell *matHeaderCellDef> SUBJECT NAME </th>
        <td mat-cell *matCellDef="let element"> {{element.subject_name}} </td>
      </ng-container>
       
      <ng-container matColumnDef="exam_date">
        <th mat-header-cell *matHeaderCellDef>  DATE </th>
        <td mat-cell *matCellDef="let element">  {{element.exam_date | date:"dd/MM/yyyy"}} </td>
      </ng-container>
                                                

                                                                                                                                                            
      <ng-container matColumnDef="marks">
        <th mat-header-cell *matHeaderCellDef>  MARKS </th>
        <td mat-cell *matCellDef="let element">  {{element.marks}} </td>
      </ng-container>

      <ng-container matColumnDef="marks_obtained">
        <th mat-header-cell *matHeaderCellDef> MARKS OBTAINED </th>
        <td mat-cell *matCellDef="let element"> {{element.marks_obtained}} </td>
      </ng-container>
      
      
      <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> ACTION </th>
          <td mat-cell *matCellDef="let element" >

             <button mat-icon-button (click)="onDel(element)" type="button" class="btn btn-default btn-primary">
                <mat-icon>delete</mat-icon>

                 </button>  </td>

        </ng-container>





        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"  ></tr>
</table>

    <br>
    <div class="row">
        <div class="col-md-4">
            <button mat-button (click)="onDelete()" type="button" class="btn btn-default btn-primary" style="width:50px;">
                DELETE ALL
                  <mat-icon>delete</mat-icon>
                  </button>
        </div>
        <div class="col-md-8">
            <mat-paginator [pageSizeOptions]="[5,10,15]"></mat-paginator>
        </div>
      </div>
 -->

      <div class="container">
          <div class="card size">
            <div class="card-header card-header-warning">
              <h2 class="card-title ">Exam Result Management</h2>
              <!-- <p class="card-category"> click on header to sort the data</p> -->
            </div>
            <div class="row">
              <div class="col-md-8">
                <mat-form-field class="example-form">
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Batch" class="example-full-width">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <button mat-raised-button  (click)="onAdd()" style="margin-top:20px; background-color:  rgb(254,163,32);color:white">
                  <mat-icon>add</mat-icon> Add New Exam Result
                </button>
                &nbsp;&nbsp;
                
              </div>
            </div>
           
            <div class="card-body">
              <div class="table-responsive">
                  <table mat-table [dataSource]="dataSource"  class="mat-elevation-z8" matSort>
                  <tbody>
                      <ng-container matColumnDef="select">
                          <th mat-header-cell *matHeaderCellDef> select </th>
                          <td mat-cell *matCellDef="let element">  <mat-checkbox color="primary" (change)="onCheckChange(element)"></mat-checkbox> </td>
                        </ng-container>
                  
                        <ng-container matColumnDef="student_name">
                          <th mat-header-cell *matHeaderCellDef> Student Name </th>
                          <td mat-cell *matCellDef="let element"> {{element.student_name}} </td>
                        </ng-container>
                  
                        <ng-container matColumnDef="batch_name">
                          <th mat-header-cell *matHeaderCellDef> Batch Name </th>
                          <td mat-cell *matCellDef="let element"> {{element.batch_name}} </td>
                        </ng-container>
                  
                        <ng-container matColumnDef="standard_no">
                          <th mat-header-cell *matHeaderCellDef> Standard </th>
                          <td mat-cell *matCellDef="let element"> {{element.standard_no}} </td>
                        </ng-container>
                  
                  
                        <ng-container matColumnDef="subject_name">
                          <th mat-header-cell *matHeaderCellDef> Subject Name </th>
                          <td mat-cell *matCellDef="let element"> {{element.subject_name}} </td>
                        </ng-container>
                  
                        <ng-container matColumnDef="exam_date">
                          <th mat-header-cell *matHeaderCellDef>  Date </th>
                          <td mat-cell *matCellDef="let element">  {{element.exam_date | date:"dd/MM/yyyy"}} </td>
                        </ng-container>
                  
                        <ng-container matColumnDef="marks">
                          <th mat-header-cell *matHeaderCellDef>  Marks </th>
                          <td mat-cell *matCellDef="let element">  {{element.marks}} </td>
                        </ng-container>
                  
                        <ng-container matColumnDef="marks_obtained">
                          <th mat-header-cell *matHeaderCellDef> Marks Obtained </th>
                          <td mat-cell *matCellDef="let element"> {{element.marks_obtained}} </td>
                        </ng-container>
                  
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef> Action </th>
                            <td mat-cell *matCellDef="let element" >
                  
                               <button mat-icon-button (click)="onDel(element)" type="button" class="btn btn-default btn-primary">
                                  <mat-icon >delete</mat-icon>
                  
                                   </button>  </td>
                  
                          </ng-container>
                  
                  
                  
                  
                  
                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"  ></tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <button mat-raised-button color="warn" (click)="onDelete()">
                  <mat-icon>delete</mat-icon> Delete All
                </button>
              </div>
              <div class="col-md-8">
                <mat-paginator [pageSizeOptions]="[5,10]"></mat-paginator>
              </div>
            </div>
          </div>
        </div>