<!-- <h1>ADD ASSIGNMENT
</h1>

<form (ngSubmit)="onAdd(f)" #f="ngForm" class="example-form">


<div class="container">
  <div class="form-group">
    <mat-form-field class="example-full-width">

      <input matInput type="text" id="title" required placeholder="TITLE" [(ngModel)]="title" name="title" #title1="ngModel">
      <mat-error *ngIf="title1.hasError('required')">its required</mat-error>

    </mat-form-field>


  </div>





  <mat-form-field>
    <mat-select placeholder="STANDARD" [(ngModel)]="selectedstandard" name="selectedstandard" #dropdown="ngModel" (selectionChange)="onStandardChange()">
      <mat-option *ngFor="let item of arr_standard" [value]="item.standard_id">
        {{item.standard_no}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="dropdown.hasError('required')">its required</mat-error>
  </mat-form-field>
<br>
  <mat-form-field>
    <mat-select placeholder="SUBJECT" [(ngModel)]="selectedsubject" name="selectedsubject" #dropdown="ngModel">
      <mat-option *ngFor="let item of arr2" [value]="item.subject_id">
        {{item.subject_name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="dropdown.hasError('required')">its required</mat-error>
  </mat-form-field>

<br>

    <h4>PDF:</h4>
    <input  type="file" (change)="onChange($event)">





<br>
<br>
 <mat-checkbox  *ngFor="let item of arr_batch" (change)="onCheckChange(item)" >{{item.batch_name}}</mat-checkbox>





<br>




</div>
<div class="row">
    <div class="col-sm-6">
      <button class="btn btn-group  btn-primary form-control" [disabled]="!f.valid" type="submit">SAVE</button>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-default btn-danger form-control" (click)="onBack()">CANCEL</button>
    </div>


  </div>
 -->

























 <div class="container">
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="card-header card-header-warning">
                <h4 class="card-title">ADD ASSIGNMENT</h4>
                
              </div>
              <div class="card-body">
                <form class="example-form" (ngSubmit)="onAdd()" #f="ngForm">
                  
  
                    <mat-form-field class="example-full-width">

                        <input matInput type="text" id="title" required placeholder="TITLE" [(ngModel)]="title" name="title" #title1="ngModel">
                        <mat-error *ngIf="title1.hasError('required')">its required</mat-error>
                  
                      </mat-form-field>
                  
                  
                    
                  
                  <br>
                  
                  
                  
                    <mat-form-field>
                      <mat-select placeholder="STANDARD" [(ngModel)]="selectedstandard" name="selectedstandard" #dropdown="ngModel" (selectionChange)="onStandardChange()">
                        <mat-option *ngFor="let item of arr_standard" [value]="item.standard_id">
                          {{item.standard_no}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="dropdown.hasError('required')">its required</mat-error>
                    </mat-form-field>
                  <br>
                    <mat-form-field>
                      <mat-select placeholder="SUBJECT" [(ngModel)]="selectedsubject" name="selectedsubject" #dropdown="ngModel">
                        <mat-option *ngFor="let item of arr2" [value]="item.subject_id">
                          {{item.subject_name}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="dropdown.hasError('required')">its required</mat-error>
                    </mat-form-field>
                  
                  <br>
                  
                      <h4>PDF:</h4>
                      <input  type="file" (change)="onChange($event)">
                  
                  
                  
                  
                  
                  <br>
                  <br>
                   <mat-checkbox  *ngFor="let item of arr_batch" (change)="onCheckChange(item)" >{{item.batch_name}}</mat-checkbox>
                  
                  
                  
                  
                  
                  <br>
                  
                  
                  <div class="rows">
                    <button mat-raised-button type="submit" [disabled]="!f.valid" class="btn">Add Assignment</button>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <button mat-raised-button color="warn" (click)="onBack()">CANCEL</button>
                    
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
