 <div class="container">
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="card-header card-header-warning">
                <h4 class="card-title">UPDATE BATCH</h4>
                
              </div>
              <div class="card-body">
               
                <form class="example-form" (ngSubmit)="onUpdate(f)" #f="ngForm">
                  
                    <mat-form-field class="example-full-width">

                        <input matInput type="text" name="batch_name" id="batch_name" required placeholder="batchname" [(ngModel)]="batch_name" #batchname="ngModel">
                      </mat-form-field>
                 <br>
                 <mat-form-field>
                    <mat-select placeholder="standard" name="selected1" [(ngModel)]="fk_standard_id">
                      <mat-option *ngFor="let item of arr1" name="sel" [value]="item.standard_id">
                        {{item.standard_no}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                
                   
                <br>
                <br>
                
                
                  
                  <div class="rows">
                    <button mat-raised-button type="submit" [disabled]="!f.valid" class="btn">Update Batch</button>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <button mat-raised-button color="warn" (click)="onBack()">CANCEL</button>
                    
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

