.sidenav-container {
  height: 100%;

}

.sidenav {
  width: 200px;
 
}

.mat-toolbar.mat-primary {
  position: relative;
  top: 0;
}
.example-card {
  max-width: 400px;
  
}

.example-header-image {
  background-image: url('../../assets/ma1.png');
  height: 60px;
  width: 90px;
}
