<div class="row">

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-info card-header-icon">
        <div class="card-icon">
          <i class="material-icons">class</i>
        </div>
        <p class="card-category">TOTAL MATERIALS</p>
        <h3 class="card-title">
          <small>{{pdf}}</small>
        </h3>
      </div>
      <div class="card-footer">
        <div class="stats">

          <i class="material-icons">update</i> Just Updated
        </div>
      </div>
    </div>
  </div>
  <!-- offlineuser -->
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-success card-header-icon">
        <div class="card-icon">
          <i class="material-icons">local_library</i>
        </div>
        <p class="card-category">TOTAL BATCHES</p>
        <h3 class="card-title">
          <small>{{batch_name}}</small>
        </h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">update</i> Just Updated
        </div>
      </div>
    </div>
  </div>
  <!-- emp -->
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-danger card-header-icon">
        <div class="card-icon">
          <i class="material-icons">school</i>
        </div>
        <p class="card-category">STUDENTS</p>
        <h3 class="card-title">
          <small>{{student_name}}</small>
        </h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">update</i> Just Updated
        </div>
      </div>
    </div>
  </div>
  <!-- Sup -->
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-primary card-header-icon">
      <div class="card-icon">
          <i class="material-icons">people</i>
        </div>
        <p class="card-category">EXAMS</p>
        <h3 class="card-title">
          <small>{{examcnt}}</small>
        </h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">update</i> Just Updated
        </div>
      </div>
    </div>
  </div>
</div>







<div class="row">
  <div class="col-sm-12">
    <div class="">
      <div class="card">
        <div class="card-header card-header-warning">
          <h2 class="card-title ">STUDENT ATTENDANCE</h2>
          
        </div>
        

        <div class="card-body">
          <div class="table-responsive">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    8 PANEL
                  </mat-panel-title>
                  <mat-panel-description>
                    VIEW DESCRIPTION
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <table mat-table [dataSource]="std_8_dataSource" class="mat-elevation-z8" matSort>
                  <tbody>

                    <ng-container matColumnDef="batch_name">
                      <th mat-header-cell *matHeaderCellDef> BATCH </th>
                      <td mat-cell *matCellDef="let element" [style.background-color]="element.total>10?'red':'green'">
                        {{element.batch_name}} </td>
                    </ng-container>


                    <!-- Position Column -->
                    <ng-container matColumnDef="student_name">
                      <th mat-header-cell *matHeaderCellDef> STUDENT NAME </th>
                      <td mxat-cell *matCellDef="let element" [style.background-color]="element.total>10?'red':'green'">
                        {{element.student_name}} </td>
                    </ng-container>


                    <ng-container matColumnDef="total">
                      <th mat-header-cell *matHeaderCellDef> ATTENDANCE </th>
                      <td mat-cell *matCellDef="let element" [style.background-color]="element.total>10?'red':'green'">
                        {{element.total}} </td>
                    </ng-container>




                    <tr mat-header-row *matHeaderRowDef="attendancedisplayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: attendancedisplayedColumns;"></tr>

                  </tbody>
                </table>
              </mat-expansion-panel>

            </mat-accordion>

          </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      9 PANEL
                    </mat-panel-title>
                    <mat-panel-description>
                      VIEW DESCRIPTION
                    </mat-panel-description>
                  </mat-expansion-panel-header>
  
                  <table mat-table [dataSource]="std_9_dataSource" class="mat-elevation-z8" matSort>
                    <tbody>
  
                      <ng-container matColumnDef="batch_name">
                        <th mat-header-cell *matHeaderCellDef> BATCH </th>
                        <td mat-cell *matCellDef="let element" [style.background-color]="element.total>10?'red':'green'">
                          {{element.batch_name}} </td>
                      </ng-container>
  
  
                      <!-- Position Column -->
                      <ng-container matColumnDef="student_name">
                        <th mat-header-cell *matHeaderCellDef> STUDENT NAME </th>
                        <td mxat-cell *matCellDef="let element" [style.background-color]="element.total>10?'red':'green'">
                          {{element.student_name}} </td>
                      </ng-container>
  
  
                      <ng-container matColumnDef="total">
                        <th mat-header-cell *matHeaderCellDef> ATTENDANCE </th>
                        <td mat-cell *matCellDef="let element" [style.background-color]="element.total>10?'red':'green'">
                          {{element.total}} </td>
                      </ng-container>
  
  
  
  
                      <tr mat-header-row *matHeaderRowDef="attendancedisplayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: attendancedisplayedColumns;"></tr>
  
                    </tbody>
                  </table>
                </mat-expansion-panel>
  
              </mat-accordion>
  
            </div>
          </div>



          <div class="card-body">
              <div class="table-responsive">
                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        10 PANEL
                      </mat-panel-title>
                      <mat-panel-description>
                        VIEW DESCRIPTION
                      </mat-panel-description>
                    </mat-expansion-panel-header>
    
                    <table mat-table [dataSource]="std_10_dataSource" class="mat-elevation-z8" matSort>
                      <tbody>
    
                        <ng-container matColumnDef="batch_name">
                          <th mat-header-cell *matHeaderCellDef> BATCH </th>
                          <td mat-cell *matCellDef="let element" [style.background-color]="element.total>10?'red':'green'">
                            {{element.batch_name}} </td>
                        </ng-container>
    
    
                        <!-- Position Column -->
                        <ng-container matColumnDef="student_name">
                          <th mat-header-cell *matHeaderCellDef> STUDENT NAME </th>
                          <td mxat-cell *matCellDef="let element" [style.background-color]="element.total>10?'red':'green'">
                            {{element.student_name}} </td>
                        </ng-container>
    
    
                        <ng-container matColumnDef="total">
                          <th mat-header-cell *matHeaderCellDef> ATTENDANCE </th>
                          <td mat-cell *matCellDef="let element" [style.background-color]="element.total>10?'red':'green'">
                            {{element.total}} </td>
                        </ng-container>
    
    
    
    
                        <tr mat-header-row *matHeaderRowDef="attendancedisplayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: attendancedisplayedColumns;"></tr>
    
                      </tbody>
                    </table>
                  </mat-expansion-panel>
    
                </mat-accordion>
    
              </div>
            </div>


            <div class="card-body">
                <div class="table-responsive">
                  <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          11 PANEL
                        </mat-panel-title>
                        <mat-panel-description>
                          VIEW DESCRIPTION
                        </mat-panel-description>
                      </mat-expansion-panel-header>
      
                      <table mat-table [dataSource]="std_11_dataSource" class="mat-elevation-z8" matSort>
                        <tbody>
      
                          <ng-container matColumnDef="batch_name">
                            <th mat-header-cell *matHeaderCellDef> BATCH </th>
                            <td mat-cell *matCellDef="let element" [style.background-color]="element.total>10?'red':'green'">
                              {{element.batch_name}} </td>
                          </ng-container>
      
      
                          <!-- Position Column -->
                          <ng-container matColumnDef="student_name">
                            <th mat-header-cell *matHeaderCellDef> STUDENT NAME </th>
                            <td mxat-cell *matCellDef="let element" [style.background-color]="element.total>10?'red':'green'">
                              {{element.student_name}} </td>
                          </ng-container>
      
      
                          <ng-container matColumnDef="total">
                            <th mat-header-cell *matHeaderCellDef> ATTENDANCE </th>
                            <td mat-cell *matCellDef="let element" [style.background-color]="element.total>10?'red':'green'">
                              {{element.total}} </td>
                          </ng-container>
      
      
      
      
                          <tr mat-header-row *matHeaderRowDef="attendancedisplayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: attendancedisplayedColumns;"></tr>
      
                        </tbody>
                      </table>
                    </mat-expansion-panel>
      
                  </mat-accordion>
      
                </div>
              </div>








              <div class="card-body">
                  <div class="table-responsive">
                    <mat-accordion>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            12 PANEL
                          </mat-panel-title>
                          <mat-panel-description>
                            VIEW DESCRIPTION
                          </mat-panel-description>
                        </mat-expansion-panel-header>
        
                        <table mat-table [dataSource]="std_12_dataSource" class="mat-elevation-z8" matSort>
                          <tbody>
        
                            <ng-container matColumnDef="batch_name">
                              <th mat-header-cell *matHeaderCellDef> BATCH </th>
                              <td mat-cell *matCellDef="let element" [style.background-color]="element.total>10?'red':'green'">
                                {{element.batch_name}} </td>
                            </ng-container>
        
        
                            <!-- Position Column -->
                            <ng-container matColumnDef="student_name">
                              <th mat-header-cell *matHeaderCellDef> STUDENT NAME </th>
                              <td mxat-cell *matCellDef="let element" [style.background-color]="element.total>10?'red':'green'">
                                {{element.student_name}} </td>
                            </ng-container>
        
        
                            <ng-container matColumnDef="total">
                              <th mat-header-cell *matHeaderCellDef> ATTENDANCE </th>
                              <td mat-cell *matCellDef="let element" [style.background-color]="element.total>10?'red':'green'">
                                {{element.total}} </td>
                            </ng-container>
        
        
        
        
                            <tr mat-header-row *matHeaderRowDef="attendancedisplayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: attendancedisplayedColumns;"></tr>
        
                          </tbody>
                        </table>
                      </mat-expansion-panel>
        
                    </mat-accordion>
        
                  </div>
                </div>
    








  
      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-md-6">
    <div class="container">
      <div class="card">
        <div class="card-header card-header-warning">
          <h2 class="card-title ">TODAY'S SCHEDULE</h2>
       
        </div>
       

        <div class="card-body">
          <div class="table-responsive">

            <table mat-table [dataSource]="schedulesource" class="mat-elevation-z8" matSort>
              <tbody>

                <ng-container matColumnDef="batch_name">
                  <th mat-header-cell *matHeaderCellDef> BATCHES </th>
                  <td mat-cell *matCellDef="let element"> {{element.batch_name}} </td>
                </ng-container>


                <!-- Position Column -->
                <ng-container matColumnDef="timings">
                  <th mat-header-cell *matHeaderCellDef> TIMINGS </th>
                  <td mat-cell *matCellDef="let element"> {{element.timings}} </td>
                </ng-container>

                <ng-container matColumnDef="faculty_name">
                  <th mat-header-cell *matHeaderCellDef> FACULTY NAME </th>
                  <td mat-cell *matCellDef="let element"> {{element.faculty_name}} </td>
                </ng-container>
                <ng-container matColumnDef="subject_name">
                  <th mat-header-cell *matHeaderCellDef> SUBJECT NAME </th>
                  <td mat-cell *matCellDef="let element"> {{element.subject_name}} </td>
                </ng-container>




                <tr mat-header-row *matHeaderRowDef="displayedschedule"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedschedule;"></tr>

              </tbody>
            </table>

          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="container">
      <div class="card">
        <div class="card-header card-header-warning">
          <h2 class="card-title ">UPCOMING EXAMS</h2>
         
        </div>
     
        <div class="card-body">
          <div class="table-responsive">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    8 PANEL
                  </mat-panel-title>
                  <mat-panel-description>
                    VIEW DESCRIPTION
                  </mat-panel-description>
                </mat-expansion-panel-header>





                <table mat-table [dataSource]="e_std_8_dataSource" class="mat-elevation-z8" matSort>
                  <tbody>

                    <ng-container matColumnDef="batch_name">
                      <th mat-header-cell *matHeaderCellDef> BATCH </th>
                      <td mat-cell *matCellDef="let element"> {{element.batch_name}} </td>
                    </ng-container>


                    <!-- Position Column -->
                    <ng-container matColumnDef="exam_date">
                      <th mat-header-cell *matHeaderCellDef> EXAM DATE </th>
                      <td mat-cell *matCellDef="let element"> {{element.exam_date| date:"dd/MM/yyyy"}} </td>
                    </ng-container>

                    <ng-container matColumnDef="subject_name">
                      <th mat-header-cell *matHeaderCellDef> SUBJECT NAME </th>
                      <td mat-cell *matCellDef="let element"> {{element.subject_name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="hours">
                      <th mat-header-cell *matHeaderCellDef> HOURS </th>
                      <td mat-cell *matCellDef="let element"> {{element.hours}} </td>
                    </ng-container>




                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                  </tbody>
                </table>
              </mat-expansion-panel>
              
            </mat-accordion>

          </div>
        </div>





        <div class="card-body">
            <div class="table-responsive">
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      9 PANEL
                    </mat-panel-title>
                    <mat-panel-description>
                      VIEW DESCRIPTION
                    </mat-panel-description>
                  </mat-expansion-panel-header>
  
  
  
  
  
                  <table mat-table [dataSource]="e_std_9_dataSource" class="mat-elevation-z8" matSort>
                    <tbody>
  
                      <ng-container matColumnDef="batch_name">
                        <th mat-header-cell *matHeaderCellDef> BATCH </th>
                        <td mat-cell *matCellDef="let element"> {{element.batch_name}} </td>
                      </ng-container>
  
  
                      <!-- Position Column -->
                      <ng-container matColumnDef="exam_date">
                        <th mat-header-cell *matHeaderCellDef> EXAM DATE </th>
                        <td mat-cell *matCellDef="let element"> {{element.exam_date| date:"dd/MM/yyyy"}} </td>
                      </ng-container>
  
                      <ng-container matColumnDef="subject_name">
                        <th mat-header-cell *matHeaderCellDef> SUBJECT NAME </th>
                        <td mat-cell *matCellDef="let element"> {{element.subject_name}} </td>
                      </ng-container>
                      <ng-container matColumnDef="hours">
                        <th mat-header-cell *matHeaderCellDef> HOURS </th>
                        <td mat-cell *matCellDef="let element"> {{element.hours}} </td>
                      </ng-container>
  
  
  
  
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
                    </tbody>
                  </table>
                </mat-expansion-panel>
                
              </mat-accordion>
  
            </div>
          </div>









          <div class="card-body">
              <div class="table-responsive">
                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        10 PANEL
                      </mat-panel-title>
                      <mat-panel-description>
                        VIEW DESCRIPTION
                      </mat-panel-description>
                    </mat-expansion-panel-header>
    
    
    
    
    
                    <table mat-table [dataSource]="e_std_10_dataSource" class="mat-elevation-z8" matSort>
                      <tbody>
    
                        <ng-container matColumnDef="batch_name">
                          <th mat-header-cell *matHeaderCellDef> BATCH </th>
                          <td mat-cell *matCellDef="let element"> {{element.batch_name}} </td>
                        </ng-container>
    
    
                        <!-- Position Column -->
                        <ng-container matColumnDef="exam_date">
                          <th mat-header-cell *matHeaderCellDef> EXAM DATE </th>
                          <td mat-cell *matCellDef="let element"> {{element.exam_date| date:"dd/MM/yyyy"}} </td>
                        </ng-container>
    
                        <ng-container matColumnDef="subject_name">
                          <th mat-header-cell *matHeaderCellDef> SUBJECT NAME </th>
                          <td mat-cell *matCellDef="let element"> {{element.subject_name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="hours">
                          <th mat-header-cell *matHeaderCellDef> HOURS </th>
                          <td mat-cell *matCellDef="let element"> {{element.hours}} </td>
                        </ng-container>
    
    
    
    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
                      </tbody>
                    </table>
                  </mat-expansion-panel>
                  
                </mat-accordion>
    
              </div>
            </div>


















            <div class="card-body">
                <div class="table-responsive">
                  <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          11 PANEL
                        </mat-panel-title>
                        <mat-panel-description>
                          VIEW DESCRIPTION
                        </mat-panel-description>
                      </mat-expansion-panel-header>
      
      
      
      
      
                      <table mat-table [dataSource]="e_std_11_dataSource" class="mat-elevation-z8" matSort>
                        <tbody>
      
                          <ng-container matColumnDef="batch_name">
                            <th mat-header-cell *matHeaderCellDef> BATCH </th>
                            <td mat-cell *matCellDef="let element"> {{element.batch_name}} </td>
                          </ng-container>
      
      
                          <!-- Position Column -->
                          <ng-container matColumnDef="exam_date">
                            <th mat-header-cell *matHeaderCellDef> EXAM DATE </th>
                            <td mat-cell *matCellDef="let element"> {{element.exam_date| date:"dd/MM/yyyy"}} </td>
                          </ng-container>
      
                          <ng-container matColumnDef="subject_name">
                            <th mat-header-cell *matHeaderCellDef> SUBJECT NAME </th>
                            <td mat-cell *matCellDef="let element"> {{element.subject_name}} </td>
                          </ng-container>
                          <ng-container matColumnDef="hours">
                            <th mat-header-cell *matHeaderCellDef> HOURS </th>
                            <td mat-cell *matCellDef="let element"> {{element.hours}} </td>
                          </ng-container>
      
      
      
      
                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
                        </tbody>
                      </table>
                    </mat-expansion-panel>
                    
                  </mat-accordion>
      
                </div>
              </div>









              <div class="card-body">
                  <div class="table-responsive">
                    <mat-accordion>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            12 PANEL
                          </mat-panel-title>
                          <mat-panel-description>
                            VIEW DESCRIPTION
                          </mat-panel-description>
                        </mat-expansion-panel-header>
        
        
        
        
        
                        <table mat-table [dataSource]="e_std_12_dataSource" class="mat-elevation-z8" matSort>
                          <tbody>
        
                            <ng-container matColumnDef="batch_name">
                              <th mat-header-cell *matHeaderCellDef> BATCH </th>
                              <td mat-cell *matCellDef="let element"> {{element.batch_name}} </td>
                            </ng-container>
        
        
                            <!-- Position Column -->
                            <ng-container matColumnDef="exam_date">
                              <th mat-header-cell *matHeaderCellDef> EXAM DATE </th>
                              <td mat-cell *matCellDef="let element"> {{element.exam_date| date:"dd/MM/yyyy"}} </td>
                            </ng-container>
        
                            <ng-container matColumnDef="subject_name">
                              <th mat-header-cell *matHeaderCellDef> SUBJECT NAME </th>
                              <td mat-cell *matCellDef="let element"> {{element.subject_name}} </td>
                            </ng-container>
                            <ng-container matColumnDef="hours">
                              <th mat-header-cell *matHeaderCellDef> HOURS </th>
                              <td mat-cell *matCellDef="let element"> {{element.hours}} </td>
                            </ng-container>
        
        
        
        
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
                          </tbody>
                        </table>
                      </mat-expansion-panel>
                      
                    </mat-accordion>
        
                  </div>
                </div>




        
      </div>
    </div>
  </div>
</div>



<div class="row">
    <div class="col-12">
      <div class="">
        <div class="card">
          <div class="card-header card-header-warning">
            <h2 class="card-title ">FEES DETAILS</h2>
            
          </div>
         
  
          <div class="card-body">
            <div class="table-responsive">
  
                <table mat-table [dataSource]="feessource"  class="mat-elevation-z8" matSort>

                <tbody>
  
                 
      
      
                        <ng-container matColumnDef="student_name">
                            <th mat-header-cell *matHeaderCellDef> STUDENT NAME </th>
                            <td mat-cell *matCellDef="let element">  {{element.student_name}} </td>
                          </ng-container>
                    
                  
                    <!-- Position Column -->
                    <ng-container matColumnDef="total_fees">
                        <th mat-header-cell *matHeaderCellDef> TOTAL FEES </th>
                        <td mat-cell *matCellDef="let element"> {{element.total_fees}} </td>
                      </ng-container>
               
                      <ng-container matColumnDef="pending_fees">
                          <th mat-header-cell *matHeaderCellDef> PENDING FEES </th>
                          <td mat-cell *matCellDef="let element"> {{element.remaining_fees}} </td>
                        </ng-container>
                        <ng-container matColumnDef="paid_fees">
                            <th mat-header-cell *matHeaderCellDef> PAID FEES </th>
                            <td mat-cell *matCellDef="let element"> {{element.paid_amount}} </td>
                          </ng-container>
                  
                  
                  
                  
                          <tr mat-header-row *matHeaderRowDef="displayedfees"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedfees;"  ></tr>
                </tbody>
              </table>
  
            </div>
          </div>












          
  
        </div>
      </div>
    </div>
</div>  