<!-- <div class="container">
    <div class="row">
      <div class="col-md-12">
      <h1 align="center">FEES MANAGEMENT</h1>
      </div>
    </div>
      <div class="row">
        <div class="col-md-4">
            <mat-form-field class="example-form">

                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" class="example-full-width">
              </mat-form-field>
          </div> 
        <div class="col-md-4">
            <button mat-button  (click)="onAdd()" type="button" class="btn btn-primary btn-lg" >
                <mat-icon >add</mat-icon>
                ADD FEES DETAILS
                </button>
              </div>
              <div class="col-md-4">
                <button mat-button  (click)="onAdd1()" type="button" class="btn btn-primary btn-lg" >
                    <mat-icon >add</mat-icon>
                    ADD FEES
                    </button>
                  </div>
            </div>









  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>




          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef> select </th>
            <td mat-cell *matCellDef="let element">  <mat-checkbox color="primary" (change)="onCheckChange(element)"></mat-checkbox> </td>
          </ng-container>

    
    <ng-container matColumnDef="student_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> STUDENT NAME </th>
      <td mat-cell *matCellDef="let element"> {{element.student_name}} </td>
    </ng-container>

    
    <ng-container matColumnDef="batch_name">
      <th mat-header-cell *matHeaderCellDef> BATCH NAME </th>
      <td mat-cell *matCellDef="let element"> {{element.batch_name}} </td>
    </ng-container>

    <ng-container matColumnDef="total_fees">
        <th mat-header-cell *matHeaderCellDef> TOTAL FEES </th>
        <td mat-cell *matCellDef="let element"> {{element.total_fees}}</td>
      </ng-container>

   


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)" ></tr>
  </table>
  <br>
  <div class="row">
   
    
    
    <button mat-button (click)="onFeesPaid()">FEES PAID</button>
    <button mat-button (click)="onFeesRemaining()">FEES REMAINING</button>
    </div>
    <div class="col-md-12">
        <mat-paginator [pageSizeOptions]="[5,10,15]"></mat-paginator>
    </div>
   
  


</div> -->



<div class="container">
    <div class="card size">
      <div class="card-header card-header-warning">
        <h2 class="card-title ">Fees Management</h2>
      
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="example-form">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Fees"
              class="example-full-width">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <button mat-raised-button color="primary" (click)="onAdd1()" class="btn">
            <mat-icon>add</mat-icon> Add New Fees
          </button>
          &nbsp;&nbsp;
          <button mat-raised-button color="primary" (click)="onAdd()" class="btn">
              <mat-icon>add</mat-icon> Add New Fees Details
            </button>
        </div>
      </div>
     
      <div class="card-body">
        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
            <tbody>
              
            
            <ng-container matColumnDef="student_name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> STUDENT NAME </th>
              <td mat-cell *matCellDef="let element"> {{element.student_name}} </td>
            </ng-container>
        
            
            <ng-container matColumnDef="batch_name">
              <th mat-header-cell *matHeaderCellDef> BATCH NAME </th>
              <td mat-cell *matCellDef="let element"> {{element.batch_name}} </td>
            </ng-container>
        
            <ng-container matColumnDef="total_fees">
                <th mat-header-cell *matHeaderCellDef> TOTAL FEES </th>
                <td mat-cell *matCellDef="let element"> {{element.total_fees}}</td>
              </ng-container>
        
           
        
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)" ></tr>
            </tbody>
          </table>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-6">
        
          <button mat-button (click)="onFeesPaid()" class='btn'>FEES PAID</button>&nbsp;&nbsp;
          <button mat-button (click)="onFeesRemaining()" class='btn'>FEES REMAINING</button>
        </div>
        <div class="col-md-6">
          <mat-paginator [pageSizeOptions]="[5,10]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>