<!-- <h1>ADD DAILYWORK
  </h1>

<form (ngSubmit)="onAdd(f)" #f="ngForm" class="example-form">


  <div class="container">
    <div class="form-group">
      <mat-form-field class="example-full-width">

        <input matInput type="text" id="title" required placeholder="title" [(ngModel)]="title" name="title" #title1="ngModel">
        <mat-error *ngIf="title1.hasError('required')">its required</mat-error>

      </mat-form-field>


    </div>





    <mat-form-field>
      <mat-select placeholder="standard" [(ngModel)]="selected1" name="selected1" #dropdown="ngModel" (selectionChange)="onStandardChange()">
        <mat-option *ngFor="let item of arr1" [value]="item.standard_id">
          {{item.standard_no}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="dropdown.hasError('required')">its required</mat-error>
    </mat-form-field>
<br>
    <mat-form-field>
      <mat-select placeholder="subject" [(ngModel)]="selected2" name="selected2" #dropdown="ngModel" >
        <mat-option *ngFor="let item of arr2" [value]="item.subject_id">
          {{item.subject_name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="dropdown.hasError('required')">its required</mat-error>
    </mat-form-field>

<br>

      <h4>PDF:</h4>
      <input type="file" (change)="onChange($event)">
    


  

  <br>
  <br>
   <mat-checkbox  *ngFor="let item of arr" (change)="onCheckChange(item)" >{{item.batch_name}}</mat-checkbox>

    




<br>




  </div>
  <div class="row">
      <div class="col-sm-6">
        <button class="btn btn-group  btn-primary form-control" [disabled]="!f.valid" type="submit">SAVE</button>
      </div>
      <div class="col-sm-6">
        <button class="btn btn-default btn-danger form-control" (click)="onBack()">CANCEL</button>
      </div>


    </div> -->



















    <!-- <div class="container">
    <div class="row">
      <div class="col-md-12">
      <h1>ADD BATCH MANAGEMENT</h1>
      </div>
    </div>
<form (ngSubmit)="onAdd(f)" #f="ngForm" class="example-form">

    <div class="container">
      <div class="form-group">
        <mat-form-field class="example-full-width">

          <input matInput type="text" id="batch_name" required placeholder="batch_name" [(ngModel)]="batch_name" name="batch_name" #batchname="ngModel">
          <mat-error *ngIf="batchname.hasError('required')">its required</mat-error>

        </mat-form-field>


      </div>
      <mat-form-field>
        <mat-select placeholder="standard" required [(ngModel)]="selected" name="selected" #dropdown="ngModel">

          <mat-option *ngFor="let item of arr1" [value]="item">
            {{item.standard_no}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="dropdown.hasError('required')">its required</mat-error>
      </mat-form-field>

    </div>
    <div class="row">
        <div class="col-sm-6">
          <button class="btn btn-lg btn-primary form-control" type="submit">SUBMIT</button>
          
        </div>
        <div class="col-sm-6">
          <button class="btn btn-lg btn-danger form-control" (click)="onBack()">CANCEL</button>
        </div>


      </div>
  </form>


 -->

























 <div class="container">
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="card-header card-header-warning">
                <h4 class="card-title">ADD DAILYWORK</h4>
                
              </div>
              <div class="card-body">
                <form class="example-form" (ngSubmit)="onAdd()" #f="ngForm">
                  
  
                    <mat-form-field class="example-full-width">

                        <input matInput type="text" id="title" required placeholder="title" [(ngModel)]="title" name="title" #title1="ngModel">
                        <mat-error *ngIf="title1.hasError('required')">its required</mat-error>
                
                      </mat-form-field>
                
                
                    
                <br>
                
                
                
                
                    <mat-form-field>
                      <mat-select placeholder="standard" [(ngModel)]="selected1" name="selected1" #dropdown="ngModel" (selectionChange)="onStandardChange()">
                        <mat-option *ngFor="let item of arr1" [value]="item.standard_id">
                          {{item.standard_no}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="dropdown.hasError('required')">its required</mat-error>
                    </mat-form-field>
                <br>
                    <mat-form-field>
                      <mat-select placeholder="subject" [(ngModel)]="selected2" name="selected2" #dropdown="ngModel" >
                        <mat-option *ngFor="let item of arr2" [value]="item.subject_id">
                          {{item.subject_name}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="dropdown.hasError('required')">its required</mat-error>
                    </mat-form-field>
                
                <br>
                
                      <h4>PDF:</h4>
                      <input type="file" (change)="onChange($event)">
                    
                
                
                  
                
                  <br>
                  <br>
                   <mat-checkbox  *ngFor="let item of arr" (change)="onCheckChange(item)" >{{item.batch_name}}</mat-checkbox>
                
                    
                
                
                
                
                <br>
                
                
                
                
              
                  
                  <div class="rows">
                    <button mat-raised-button type="submit" [disabled]="!f.valid" class="btn">Add Dailywork</button>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <button mat-raised-button color="warn" (click)="onBack()">CANCEL</button>
                    
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

