



 













 <div class="container">
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="card-header card-header-warning">
                <h4 class="card-title">UPDATE NOTICE</h4>
                
              </div>
              <div class="card-body">
               
                <form class="example-form" (ngSubmit)="onUpdate(f)" #f="ngForm">
                  
                    <mat-form-field class="example-full-width">

                        <input matInput type="text" name="notice_name" id="notice_name" required placeholder="notice name" [(ngModel)]="notice_name" #noticename1="ngModel">
                      </mat-form-field>
                 
                 <br>
                  <mat-form-field class="example-full-width">
                
                    <textarea matInput type="text" name="notice_desc" id="notice_desc" required placeholder="notice description" [(ngModel)]="notice_desc" #noticedesc="ngModel"></textarea>
                  </mat-form-field>
            
                <br>
                
                
                 <mat-form-field>
                    <mat-select placeholder="standard" name="fk_standard_id" [(ngModel)]="fk_standard_id">
                      <mat-option *ngFor="let item of arrstandard" name="sel" [value]="item.standard_id">
                        {{item.standard_no}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <br>
                
                
                <br>
                  <mat-form-field>
                      <mat-select placeholder="batch" name="fk_batch_id" [(ngModel)]="fk_batch_id">
                          <mat-option *ngFor="let item of arrbatch" name="sel" [value]="item.batch_id">
                            {{item.batch_name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                <br>
                  
                  <div class="rows">
                    <button mat-raised-button type="submit" [disabled]="!f.valid" class="btn">Update Notice</button>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <button mat-raised-button color="warn" (click)="onBack()">CANCEL</button>
                    
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



