<!-- <div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="3" rowHeight="300px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card style="background-color:salmon" class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
               <h1><mat-icon style="height: 500px;">person</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;{{total}}</h1>
              <h1>TOTAL STUDENTS</h1> -->

<!--
          </mat-card-title>

        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>

              <h1><i class="material-icons">add</i></h1>
              <h3>TOTAL STUDENTS</h3><h1>{{total}}</h1>


</div>


        </mat-card-content>
      </mat-card>
      </mat-grid-tile>
      </mat-grid-list> -->




      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
             8 PANEL
            </mat-panel-title>
            <mat-panel-description>
             VIEW DESCRIPTION
            </mat-panel-description>
          </mat-expansion-panel-header>

         

          

          <table mat-table [dataSource]="dataSource"  class="mat-elevation-z8" matSort>


              <ng-container matColumnDef="total_batches">
                  <th mat-header-cell *matHeaderCellDef> BATCHES </th>
                  <td mat-cell *matCellDef="let element">  {{element.total_batches}} </td>
                </ng-container>
          
        
          <!-- Position Column -->
          <ng-container matColumnDef="total_students">
              <th mat-header-cell *matHeaderCellDef> TOTAL STUDENTS </th>
              <td mat-cell *matCellDef="let element"> {{element.total_students}} </td>
            </ng-container>
     
        
        
        
        
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"  ></tr>
        </table>



            

      </mat-expansion-panel>


        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
               9 PANEL
              </mat-panel-title>
              <mat-panel-description>
               VIEW DESCRIPTION
              </mat-panel-description>
            </mat-expansion-panel-header>
  
           
  
            
  
            <table mat-table [dataSource]="dataSource"  class="mat-elevation-z8" matSort>
  
  
                <ng-container matColumnDef="total_batches">
                    <th mat-header-cell *matHeaderCellDef> BATCHES </th>
                    <td mat-cell *matCellDef="let element">  {{element.total_batches}} </td>
                  </ng-container>
            
          
            <!-- Position Column -->
            <ng-container matColumnDef="total_students">
                <th mat-header-cell *matHeaderCellDef> TOTAL STUDENTS </th>
                <td mat-cell *matCellDef="let element"> {{element.total_students}} </td>
              </ng-container>
       
          
          
          
          
          
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"  ></tr>
          </table>
  
  
  
  </mat-expansion-panel>
  
  </mat-accordion>
  
  
  
  
  






        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Self aware panel
            </mat-panel-title>
            <mat-panel-description>
              Currently I am {{panelOpenState ? 'open' : 'closed'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
      </mat-accordion>
      Personal data




      <div class="row text-center">
        <div class="col-md-4">
          <div class="btn-group">
            <div
              class="btn btn-primary"
              mwlCalendarPreviousView
              [view]="view"
              [(viewDate)]="viewDate"
              (viewDateChange)="closeOpenMonthViewDay()"
            >
              Previous
            </div>
            <div
              class="btn btn-outline-secondary"
              mwlCalendarToday
              [(viewDate)]="viewDate"
            >
              Today
            </div>
            <div
              class="btn btn-primary"
              mwlCalendarNextView
              [view]="view"
              [(viewDate)]="viewDate"
              (viewDateChange)="closeOpenMonthViewDay()"
            >
              Next
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
        </div>
        <div class="col-md-4">
          <div class="btn-group">
            <div
              class="btn btn-primary"
              (click)="setView(CalendarView.Month)"
              [class.active]="view === CalendarView.Month"
            >
              Month
            </div>
            <div
              class="btn btn-primary"
              (click)="setView(CalendarView.Week)"
              [class.active]="view === CalendarView.Week"
            >
              Week
            </div>
            <div
              class="btn btn-primary"
              (click)="setView(CalendarView.Day)"
              [class.active]="view === CalendarView.Day"
            >
              Day
            </div>
          </div>
        </div>
      </div>
      <br />
      <div [ngSwitch]="view">
        <mwl-calendar-month-view
          *ngSwitchCase="CalendarView.Month"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          [activeDayIsOpen]="activeDayIsOpen"
          (dayClicked)="dayClicked($event.day)"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-month-view>
        <mwl-calendar-week-view
          *ngSwitchCase="CalendarView.Week"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-week-view>
        <mwl-calendar-day-view
          *ngSwitchCase="CalendarView.Day"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-day-view>
      </div>

      <!-- Everything you see below is just for the demo, you don't need to include it in your app -->

      <br /><br /><br />

      <h3>
        Edit events
        <button class="btn btn-primary pull-right" (click)="addEvent()">
          Add new
        </button>
        <div class="clearfix"></div>
      </h3>

      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Title</th>
              <th>Primary color</th>
              <th>Secondary color</th>
              <th>Starts at</th>
              <th>Ends at</th>
              <th>Remove</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let event of events">
              <td>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="event.title"
                  (keyup)="refresh.next()"
                />
              </td>
              <td>
                <input
                  type="color"
                  [(ngModel)]="event.color.primary"
                  (change)="refresh.next()"
                />
              </td>
              <td>
                <input
                  type="color"
                  [(ngModel)]="event.color.secondary"
                  (change)="refresh.next()"
                />
              </td>
              <td>
                <input
                  class="form-control"
                  type="text"
                  mwlFlatpickr
                  [(ngModel)]="event.start"
                  (ngModelChange)="refresh.next()"

                  dateFormat="Y-m-dTH:i"
                  altFormat="F j, Y H:i"
                  placeholder="Not set"
                />
              </td>
              <td>
                <input
                  class="form-control"
                  type="text"
                  mwlFlatpickr
                  [(ngModel)]="event.end"
                  (ngModelChange)="refresh.next()"

                  dateFormat="Y-m-dTH:i"
                  altFormat="F j, Y H:i"
                  placeholder="Not set"
                />
              </td>
              <td>
                <button class="btn btn-danger" (click)="deleteEvent(event)">
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <ng-template #modalContent let-close="close">
        <div class="modal-header">
          <h5 class="modal-title">Event action occurred</h5>
          <button type="button" class="close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            Action:
            <pre>{{ modalData?.action }}</pre>
          </div>
          <div>
            Event:
            <pre>{{ modalData?.event | json }}</pre>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" (click)="close()">
            OK
          </button>
        </div>
      </ng-template>



















