<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="3" rowHeight="300px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
              <!-- <h1><mat-icon style="height: 500px;">person</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;{{total}}</h1>
              <h1>TOTAL STUDENTS</h1> -->


          </mat-card-title>

        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>

              <h1><i class="material-icons">add</i></h1>
              <h3>TOTAL STUDENTS</h3><h1>{{total}}</h1>


</div>


        </mat-card-content>
      </mat-card>
      </mat-grid-tile>
      </mat-grid-list>




      <fusioncharts
      width="700"
      height="400"
      type="Column2d"
      [dataSource]="dataSource">
  </fusioncharts>
